---
name: ci

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run Test Action
        uses: Xorima/test-action@update-action
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
