---
name: ci

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  delivery:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run Test Action
        uses: Xorima/test-action@master
