name: danger

on:
  pull_request_target:
    types: [assigned, opened, synchronize, reopened]

jobs:
  danger:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run Danger
        uses: actionshub/danger-rb@main
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
